/* Normalizacion */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
}
body{
    background-color: black;
}
header{
    position: fixed;
    right: 0;
    top:0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}
/* Section hero */
.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg,grey 19%, blueviolet 25%,black 60%);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}
.hero-img img{
  width: 400px;
  border-radius: 350px;
  margin: 10% 0 0 15%;
}
.hero-img img:hover{
  width: 420px;
  opacity: 0.6;
}
.hero-text a{
  display: inline-block;
  color: black;
  background-color: white;
  font-weight: 700;
  border-radius: 12px;
  padding: 4px;
}
.hero-text a:hover{
  background-color: black;
  color: white;
  border: solid 1px white;
  transform: translateX(6px);
}
.hero-text span{
  color: black;
}
.hero-text span:hover{
  color: white;
}
.hero-text h1{
  font-size: 50px;
  line-height: 1;
  margin: 0 0 30px;
}
.hero-text h5{
  font-size: 24px;
  font-weight: 400px;
  margin-bottom: 25px;
}
.hero-text p{
  font-size: 80%;
  margin-bottom: 40px;
  line-height: 2px;
}
.logo{
  font-size: 30px;
  font-weight: 600;
}
/* Eliminar cuando veamos javascript */
.menu-action{
  display: none;
}
#menu-hamb{
  color:white;
  font-size: 35px;
  z-index: 101;
  cursor:pointer;
}
/* Eliminar cuando veamos javascript */
#menu-toggle{
  display: none;
}
.navbar{
  display: flex;
}
.navbar li{
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .5s ease;
}
.navbar li:hover{
  border: solid 1px white;
  border-radius: 12px;
  padding: 4px;
  font-size: 18px;
  transform: translateX(6px);
}
/* Iconos redes sociales */
.redes{
  position: absolute;
  top: 35vh;
  padding: 0 3%;
}
.redes i{
  display: block;
  padding-top: 10px;
  font-size: 35px;
}
.redes i:hover{
  font-size: 45px;
  transform: translateX(8px);
}
section{
  padding:0 10%;
}

