/* Normalizacion */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
}
body{
    background-color: black;
}
header{
    position: fixed;
    right: 0;
    top:0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}
.logo{
  font-size: 30px;
  font-weight: 600;
}
.navbar{
  display: flex;
}
/* Eliminar cuando veamos javascript */
.menu-action{
  display: none;
}
#menu-hamb{
  display: none;
  font-size: 35px;
  z-index: 101;
  cursor:pointer;
}
/* Eliminar cuando veamos javascript */
#menu-toggle{
  display: none;
}
.navbar li{
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .5s ease;
}
.navbar li:hover{
  border-bottom: white solid 2px;
}

